html {
  height: 100%;
  width: 100%;
}

#terminal {
  --size: 1.3;
  --color: #ddd;
  --background: #151515;
  --font: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}


#lsd_terminal{
  --size: 1.3;
  --color: #FF0000;
  animation: bgColor 5s infinite linear;
  --background: #151515;
  --font: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  --glow: 1;
}
