<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{ article.title }}</title>

    <style>
        body {display: none;}
    </style>
    
    <link rel="manifest" href="{{ SITEURL }}/site.webmanifest">
    <link rel="icon" href="{{ SITEURL }}/favicon.ico" sizes="32x32"/>
    <link rel="icon" type="{{ SITEURL }}/image/svg+xml" href="camp.svg"/>
    <link rel="apple-touch-icon" href="{{ SITEURL }}/apple-touch-icon.png"/><!-- 180x180 -->

    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/tufte.css">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/navbar.css">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/article.css">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/highlight.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header id="header">
        <nav>
            <a class="nav-link" href="/">about</a><a class="nav-link" href="/posts">blog</a><a class="nav-link" href="/kcsh/index.html">&gt;_</a>
        </nav>
    </header>
    <article>
        <h1 id="{{ article.title }}">{{ article.title }}</h1>
        <p class="subtitle">{{ article.subtitle }}</p>
        <p class="meta">Posted on {{ article.locale_date }}</p>
        {{ article.content }}
        <hr class="ending-line">
    </article>
    <script src="{{ SITEURL }}/theme/navbar.js"></script>
    <script>
        window.onload = function() {
            document.body.style.display = 'block';
        }
    </script>
</body>
</html>

