/* Header/navbar */

#header { margin: 1em 0 2em 0; }
#header nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#header nav a {
  color: #888;
  display: inline-block;
  margin: 0 0.5rem;
  padding: 0 0;
  font-size: 1.4em;
  text-decoration: none;
}
#header nav a:first-child { margin-left: 0; }
#header nav a:last-child { margin-right: 0; }
#header nav a.current-page {
  color: #222;
  box-shadow: 0 0.2rem 0 -0.1rem;
}
#header nav a:hover { color: #222; }

/* For all other links */
a {
  outline: none;
}

a:link, a:visited {
  color: maroon;
}

a:focus {
  text-decoration: none;
  background: maroon;
  color: white;
}

a:hover {
  text-decoration: none;
  background: silver;
}

a:active {
  background: maroon;
  color: silver;
}
